body {
    font-family: 'Lato', ;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.fir-nav ul a {
    padding-right: 10px;
}

.logo-margin-left {
    margin-left: 6.5rem !important;
}

.img-logo {
    margin-top: 5px;
    height: 44px;
}

.sec-nav a {
    color: #272A31;
}

.sec-nav a:hover {
    color: red !important;
}

.sec-nav a:last-child {
    border: 2px solid red;
    border-radius: 10%;
    color: red;
}

.sec-nav a:hover:last-child {
    color: white !important;
    background-color: red;
}

.burger {
    display: none !important;
}

.intro {
    background: linear-gradient(282deg, #00dda9, #7fb8aa , #3b6b5f);
    background-size: 800% 800%;
    width: 100%;
}

.text-heading {
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../assets/logo.png');
    background-position: bottom right;
}

.headings div {
    color: black;
    background-color: cadetblue;
    display: inline-flex;
}

.headings span {
    font-size: x-large;
}

.headings {
    text-align: center;
}

.main {
    background-image: url('../assets/main-back.jpg');
    color: #9a9a9a;
}

.main div h2 {
    padding-bottom: 5px;
}

@media screen and (max-width: 450px) {
    .headings div {
        width: 100% !important;
    }
}

@media screen and (max-width: 1178px) {
    header {
        display: none !important;
    }

    .burger {
        display: inherit !important;
        font-size: 2rem;
        padding-left: 1rem;
        color: black;
    }

    .burger:hover {
        color: white;
    }
}