body {
    font-family: 'Lato', ;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.logo-margin-left {
    margin-left: 5.5rem !important;
}

.sec-nav a {
    color: #272A31;
}

.sec-nav a:hover {
    color: red !important;
}

.sec-nav a:last-child {
    border: 2px solid red;
    border-radius: 10%;
    color: red;
}

.sec-nav a:hover:last-child {
    color: white !important;
    background-color: red;
}

.burger {
    display: none !important;
}

@media screen and (max-width: 1178px) {
    nav {
        display: none !important;
    }

    .burger {
        display: inherit !important;
        font-size: 2rem;
        padding-left: 1rem;
        color: black;
    }

    .burger:hover {
        color: lightcoral;
    }
}