body {
    font-family: 'Lato', ;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.logo-margin-left {
    margin-left: 5.5rem !important;
}

.sec-nav a {
    color: #272A31;
}

.sec-nav a:hover {
    color: red !important;
}

.sec-nav a:last-child {
    border: 2px solid red;
    border-radius: 10%;
    color: red;
}

.sec-nav a:hover:last-child {
    color: white !important;
    background-color: red;
}